# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environments
.env
.venv
venv/

# IDEs
.vscode/
.idea/

# Build
dist/
build/
*.spec

# PyInstaller
*.exe

# OS
.DS_Store
Thumbs.db

# Archives
*.zip

# Logs
*.log

# Others
ravn_history.db
